.root{
    -fx-text-fill: #FFFF;
    -fx-background-color: none;
}

.pane{
    -fx-background-color: #19181F;
}

#logo{
    -fx-font-family: "Poppins";
    -fx-font-size: 32px;
    -fx-font-weight: bold;
}

#logo2{
    -fx-font-family: "Poppins";
    -fx-font-size: 32px;
    -fx-font-weight: bold;
    -fx-text-fill: #5553E1;
}

#h1{
    -fx-font-family: "Poppins SemiBold";
    -fx-font-size: 18px;
}

#h2{
    -fx-font-family: "Poppins";
    -fx-font-size: 16px;
    -fx-font-weight: 300;
    -fx-line-height: 24px;
    -fx-text-fill: #FFFFFF;
}

#h3{
    -fx-font-family: "Poppins Light";
    -fx-font-size: 14px;
    -fx-text-fill: #969597;
    -fx-pref-width: 63px;
    -fx-alignment: center;
}

#h31{
    -fx-font-family: "Poppins";
    -fx-font-weight: 300;
    -fx-font-size: 14px;
    -fx-text-fill: #969597;
    -fx-pref-width: 63px;
}

.button1{
    -fx-background-color: #2B2934;
    -fx-pref-width: 63px;
    -fx-pref-height: 63px;
    -fx-background-radius: 15px;
    -fx-background-size: 42px 42px;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
}

#google{
    -fx-background-image: url("../images/google.png");
}

#gitlab{
    -fx-background-image: url("../images/gitlab.png");
}

#weiteres{
    -fx-background-size: 45px 42,3px;
    -fx-background-image: url("../images/weiteres.png");
}



#button2 {
    -fx-font-family: "Poppins Light";
    -fx-padding: none;
    -fx-text-fill: #969597;
    -fx-font-size: 12px;
    -fx-underline: true;

}

.project-invitation-cell{
    -fx-background-color: #2B2934;
    -fx-stroke: #969597;
    -fx-background-radius: 15px;
}


.project-cell-container{
    -fx-fill: #2B2934;
    -fx-stroke-width: 0px;
    -fx-arc-width: 30px;
    -fx-arc-height: 30px;
}




