
.background {
    -fx-background-color: #19181F;
    -fx-background-radius: 20px;
}

/* base elements */
.scrollpane{
    -fx-background: transparent;
    -fx-background-color: transparent;
}

.comboboxbase {
    -fx-background-color: #2B2934, #2B2934, #2B2934, #2B2934;
    -fx-background-insets: 0, 1, 2, 0 0 -1 0;
    -fx-background-radius: 20px;
    -fx-padding: 4 8 4 8;
    -fx-text-fill: #FFFFFF;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}

.user-card{
    -fx-fill: #2B2934;
}

.userAvatar{
    -fx-background-color: none;
}

.projectAvatar{
    -fx-border-radius: 50%;
    -fx-background-radius: 50%;
}

.linie{
    -fx-stroke: #A5A5A5 ;
    -fx-stroke-width: 0.5;
}
/* typography */

.user-name{
    -fx-font-family: 'Poppins';
    -fx-font-weight: 700;
    -fx-font-size: 18px;
    -fx-line-height: 24px;
    -fx-text-fill: #FFFFFF;
}

.user-subdescription{
    -fx-font-family: 'Poppins';
    -fx-font-weight: 300;
    -fx-font-size: 16px;
    -fx-line-height: 24px;
    -fx-text-fill: #969597;
}

.h1{
    -fx-font-family: "Poppins";
    -fx-text-fill: #FFFF;
    -fx-font-size: 20px;
    -fx-line-height: 24px;
}

.h2{
    -fx-font-family: 'Poppins';
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: 300;
    -fx-font-size: 16px;
    -fx-line-height: 33px;

}

.h3{
    -fx-text-fill: #969597;
    -fx-font-family: 'Poppins Medium';
    -fx-font-size: 14px;
    -fx-line-height: 24px;
}


/* textfield */
.textfield{
    -fx-background-color: #2B2934;
    -fx-background-radius: 15px;
    -fx-text-fill: white;
    -fx-font-family: "Poppins";
}


/* buttons */
.backbutton{
    -fx-background-color: none;
    -fx-background-position: center center;
    -fx-background-size: 9,5px 5,5px;
    -fx-background-repeat: no-repeat;
    -fx-background-image: url("../images/back.png");
}

.button1 {
    -fx-background-color: #9197CB;
    -fx-background-radius: 30px;

}
